{% extends 'base.html.twig' %}

{% block title %}Création d'une Sortie !{% endblock %}

{% block body %}
<style>
  .glow {
  font-size: 15px;
  color: black;
  font-weight : bold;
  -webkit-animation: glow 0.2s ease-in-out infinite alternate;
  -moz-animation: glow 0.2s ease-in-out infinite alternate;
  animation: glow 0.2s ease-in-out infinite alternate;
  
}
.glow-text{
     -webkit-animation: glow-text 0.2s ease-in-out infinite alternate;
  -moz-animation: glow-text 0.2s ease-in-out infinite alternate;
  animation: glow-text 0.2s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55FC3E, 0 0 40px #3EF9FC, 0 0 50px #55FC3E, 0 0 60px #3EF9FC, 0 0 70px #55FC3E;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #C03EFC, 0 0 40px #FCC53E, 0 0 50px #C03EFC, 0 0 60px #FCC53E, 0 0 70px #C03EFC, 0 0 80px #FCC53E;
  }
}


</style>
<div class="example-wrapper">
    <div class="container">
        <h1 class="mb-5 text-center">Detail de la sortie {{event.name }}</h1>
        {% if event.state.id == 6 %}
        <div>
            <p><b>Sortie annulée</b>    </p>
            <p><b>Motif :</b> {{ event.description}}</p>
        </div>
        {% else %}
        <div>
            <div>
                <p><b>Date et heure de la sortie :</b> {{event.dateTimeStartAt|date('Y-m-d H:m:s')}}</p>
                <p><b>Date limite d'inscription :</b> {{event.dateLimitRegistrationAt|date('Y-m-d H:m:s')}}</p>
                <p><b>Nombre de places :</b> {{event.nbMaxRegistration}}</p>
                <p><b>Durée :</b> {{event.duration}} {% if event.duration < 1 %}minute{% else %}minutes{% endif %}</p>
                {% if event.description != null%}<p><b>Description et infos :</b> {{event.description}}</p>{% endif %}
            </div>
            <div>
                <p><b>Ville organisatrice :</b> {{event.location.city.name}}</p>
                <p><b>Lieu :</b> {{event.location.name}}</p>
                <p><b>Rue :</b> {{event.location.street}}</p>
                <p><b>Code postal :</b> {{event.location.city.zipCode}}</p>
                {% if event.location.lat != null and event.location.long != null %}
                <p><b>Latitude :</b> {{event.location.lat}}</p>
                <p><b>Longitude :</b> {{event.location.long}}</p>
                {% endif %}
            </div>
        </div>
       
        <div>
        {% if event.users is empty %}
        <p>Pas encore de participant.</p>
        {% else %}
            <table>
        <div class="col text-center mt-5">
            <table class="table table-light table-striped table-bordered border-dark">
                <caption align="top">Liste des participants</caption>

                <thead class="table-secondary  border-dark">
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                </thead>
                {% for u  in event.users %}
                <tr>
                <td> <a href="{{path('app_user_detail',{'id': u.id})}}">{{ u.pseudo }}</a></td>
                    <td>{{ u.name }} {{u.lastname|upper}}</td></tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
