{% extends 'base.html.twig' %}

{% block title %}Création d'une Sortie !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    div#container{width:800px;padding:5px;}  
    div#left{float:left;width:100%;margin-left:-25%}  
    div#right{margin-left:25%;width:100%}
</style>

<div class="example-wrapper">
    <div class="container text-center">
        <h1>Modifier la sortie {{event.name}}</h1>
    </div>
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form) }}
    <div id="container">
        {{form_row(form.name, {'label': 'Nom de la Sortie','value' : event.name})}}
        {{form_row(form.dateTimeStartAt, {'label': 'Date et heure de la sortie','min' : 'now','value' : event.dateTimeStartAt|date('Y-m-d\\TH:m')})}}
        {{form_row(form.duration, {'label': 'Durée','value' : event.duration})}}
        {{form_row(form.dateLimitRegistrationAt, {'label': 'Date limite d inscription','min' : 'now' ,'value':event.dateLimitRegistrationAt|date('Y-m-d\\TH:m')})}}
        {{form_row(form.nbMaxRegistration, {'label': 'Nombre de places','value' : event.nbMaxRegistration})}}
        {{form_row(form.description, {'label': 'Descriptions et Infos','value' : event.description})}}
    </div>

    <div>
        
    </div>
    
    <div class="container text-center">
        <button type="submit">Enregistrer</button>
        <button>Annuler</button>
    </div> 
    {{ form_end(form) }}

 
</div>
{% endblock %}
