{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="row">
        <div class="col-4">
            <img src="{{ asset('/uploads/') }}{{user.illustration}}" class="img-thumbnail img-fluid rounded"> 
        </div>
        <div class="col-8">
            <h1>{{user.pseudo}}</h1>
            <p><b>Prénom :</b> {{user.name}}</p>
            <p><b>Nom de famille :</b> {{user.lastname}}</p>
            <p><b>Mail :</b> {{user.email}}</p>
            {% if user.tel != null%}<p><b>Téléphone :</b> {{user.tel}}</p>{% endif %}
            <p><b>Ville de ratachement :</b> {{user.adress.libelle}}</p>
        </div>
        
    </div>
</div>
{% endblock %}
