{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="row">
        <div class="col-4">
            <img src="{{ asset('/uploads/') }}{{user.illustration}}" class="img-thumbnail img-fluid rounded"> 
        </div>
        <div class="col-8">
            <h1>{{user.pseudo}}</h1>
            <p>Prénom : {{user.name}}</p>
            <p>Nom de famille : {{user.lastname}}</p>
            <p>Mail : {{user.email}}</p>
            {% if user.tel != null%}<p>Téléphone : {{user.tel}}</p>{% endif %}
            <p>Ville de ratachement : {{user.adress.libelle}}</p>
        </div>
        
    </div>
</div>
{% endblock %}
