{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    
{% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form(form) }}
    
    <div>
    <table class="table table-light table-striped">
        <thead class="table-secondary">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Date fin des inscriptions</th>
                <th>Inscrits / Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
    <tbody>
    {% for e in events %}
    
        <tr>
            <td class="p-3">{{ e.name }}</td>
            <td class="p-3">{{ e.dateTimeStartAt|date('d-m-Y')}}</td>
            <td class="p-3">{{ e.dateLimitRegistrationAt|date('d-m-Y')}}</td>
            <td class="p-3">{{ e.users|length }} / {{ e.nbmaxregistration }}</td>
            <td class="p-3">{{ e.state.libelle }}</td>
            <td class="p-3">
                {% if e.users.contains(app.user) %}
                Oui
                {% else %}
                Non
                {% endif %}
            </td>
            <td class="p-3"><a  class="badge bg-success text-decoration-none" href="{{path('app_user_detail',{'id': e.organizer.id})}}">{{e.organizer.name}}</a></td>
            <td class="p-3">
                {% if app.user %}
                    {# state.id = ouvert #}
                    {% if e.state.id == 2 and e.dateLimitRegistrationAt|date('Y-m-d') >= 'now'|date('Y-m-d') %}
                        {% if e.users.contains(app.user) and e.organizer.id != app.user.id %}
                            <a  class="badge bg-primary text-decoration-none" href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> -
                            <a  class="badge bg-danger text-decoration-none" href="{{path('app_event_unsubscribe', {'id':e.id})}}">Se désister</a>
                        {% elseif e.organizer.id == app.user.id and e.users.contains(app.user) %}
                            <a class="badge bg-primary text-decoration-none" href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> - 
                            <a  class="badge bg-danger text-decoration-none" href="{{path('app_event_unsubscribe', {'id':e.id})}}">Se désister</a> - 
                            <a  class="badge bg-secondary text-decoration-none" href="{{path('app_event_modify', {'id':e.id})}}">Modifier</a>
                        {% elseif e.organizer.id == app.user.id %}
                            <a class="badge bg-primary text-decoration-none"  href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> - 
                            <a  class="badge bg-danger text-decoration-none" href="{{path('app_event_register', {'id':e.id})}}">S'inscrire</a> - 
                            <a  class="badge bg-secondary text-decoration-none" href="{{path('app_event_modify', {'id':e.id})}}">Modifier</a>
                        {% else %}
                            <a class="badge bg-primary text-decoration-none" href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> - 
                            <a  class="badge bg-danger text-decoration-none" href="{{path('app_event_register', {'id':e.id})}}">S'inscrire</a>
                        {% endif %}
                    {% else %}
                        <a class="badge bg-primary text-decoration-none" href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a>
                    {% endif %}
                {% endif %}

            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>

<a  class="btn btn-primary mb-5" href="{{path('app_event')}}">Créer une sortie</a>
</div>
{% endblock %}
