{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form(form) }}

    <div>
    <table>
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Date fin des inscriptions</th>
                <th>Inscrits / Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
    <tbody>
    {% for e in events %}
        <tr>
            <td>{{ e.name }}</td>
            <td>{{ e.dateTimeStartAt|date('d-m-Y')}}</td>
            <td>{{ e.dateLimitRegistrationAt|date('d-m-Y')}}</td>
            <td>{{ e.users|length }} / {{ e.nbmaxregistration }}</td>
            <td>{{ e.state.libelle }}</td>
            <td>
                {% if e.users.contains(app.user) %}
                Oui
                {% else %}
                Non
                {% endif %}
            </td>
            <td><a href="{{path('app_user_detail',{'id': e.organizer.id})}}">{{e.organizer.name}}</a></td>
            <td>
                {% if app.user %}
                    {% if e.state.id == 4 and e.dateLimitRegistrationAt < date('tomorrow') %}
                        {% if e.users.contains(app.user) and e.organizer.id != app.user.id %}
                            <a href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> -
                            <a href="{{path('app_event_unsubscribe', {'id':e.id})}}">Se désister</a>
                        {% elseif e.organizer.id == app.user.id and e.users.contains(app.user) %}
                            <a href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> - 
                            <a href="{{path('app_event_unsubscribe', {'id':e.id})}}">Se désister</a> - 
                            {% if e.dateTimeStartAt > date('now') %}<a href="{{path('app_event_modify', {'id':e.id})}}">Modifier</a>{% endif %}
                        {% elseif e.organizer.id == app.user.id %}
                            <a href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> - 
                            <a href="{{path('app_event_register', {'id':e.id})}}">S'inscrire</a> - 
                            {% if e.dateTimeStartAt > date('now') %}<a href="{{path('app_event_modify', {'id':e.id})}}">Modifier</a>{% endif %}
                        {% else %}
                            <a href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a> - 
                            <a href="{{path('app_event_register', {'id':e.id})}}">S'inscrire</a>
                        {% endif %}
                    {% else %}
                        <a href="{{path('app_event_detail', {'id':e.id})}}">Afficher</a>
                    {% endif %}
                {% endif %}

            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>

<a href="{{path('app_event')}}">Créer une sortie</a>
</div>
{% endblock %}
